
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}








<div class="container-fluid p-0" style="margin-top:250px;">









    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        

        <ul class="list-inline">

            <li class="list-inline-item">
                <img src="~/web/resume-bootstrap4-master/img/tek.png" alt="" style="width:50px; margin-left:15px;">
            </li>
            <li class="list-inline-item">
                <img src="~/web/resume-bootstrap4-master/img/ar.png" alt="" style="width:50px;">
            </li>
            <li class="list-inline-item">
                <img src="~/web/resume-bootstrap4-master/img/film.png" alt="" style="width:50px;">
            </li>
            <li class="list-inline-item">
                <img src="~/web/resume-bootstrap4-master/img/futbol.png" alt="" style="width:50px;">
            </li>
            <li class="list-inline-item">
                <img src="~/web/resume-bootstrap4-master/img/pc2.png" alt="" style="width:50px;">
            </li>
        </ul>

        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Teknolojiyi Takip Etmek
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Araştırma Yapmak
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Film izlemek
            <li>
                <i class="fa-li fa fa-check"></i>
                Futbol
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Bilgisayar ile Uğraşmak
                </li>




        </ul>

        


        </section>



    </div>



