
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}



    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
            <div class="my-auto">
                <h1 class="mb-0">
                     İletişime
                    <span class="text-primary">Geçebilrisiniz</span>
                </h1>
                <div class="subheading mb-5">
                    Adres: Ortahisar/Trabzon · Telefon: (553) *** ** ** ·
                    <a href="mailto:email@ornek.com">bakirtasatakan@gmail.com</a>
                </div>
                <p class="mb-5">Benimle iletişime geçmek için aşağıdaki formu doldurabilir veya doğrudan e-posta ya da telefon yoluyla bana ulaşabilirsiniz</p>

                <!-- İletişim Formu -->
                <form>
                    <div class="form-group">
                        <label for="name">Ad Soyad</label>
                        <input type="text" class="form-control" id="name" placeholder="Adınızı girin">
                    </div>
                    <div class="form-group">
                        <label for="email">E-Posta</label>
                        <input type="email" class="form-control" id="email" placeholder="E-posta adresinizi girin">
                    </div>
                    <div class="form-group">
                        <label for="message">Mesaj</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Mesajınızı yazın"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>

                <!-- Sosyal Medya İkonları -->
                
            </div>
        </section>
    </div>





